.preloader {
	width: 100%;
	height: 100%;
	position: fixed;
	background: orange;
	z-index: 1001;
}

.preloader__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 90px;
	height: 90px;
	margin-top: -45px;
	margin-left: -45px;
	border-radius: 45px;
	animation: preloader-color 7.7s infinite alternate linear, preloader-rotate 2s infinite linear, preloader-transf 737ms infinite alternate ease;
	-o-animation: preloader-color 7.7s infinite alternate linear, preloader-rotate 2s infinite linear, preloader-transf 737ms infinite alternate ease;
	-webkit-animation: preloader-color 7.7s infinite alternate linear, preloader-rotate 2s infinite linear, preloader-transf 737ms infinite alternate ease;
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes preloader-transf {
	0%{
		border-radius: 45px;
	}
	100%{
		border-radius: 0px;
	}
}

@keyframes preloader-color {

	17%{
		background: #ff0000;
	}

	33%{
		background: #ffff00;
	}

	50%{
		background: #00ff00;
	}

	67%{
		background: #00ffff;
	}

	83%{
		background: #0000ff;
	}

	100%{
		background: #ff00ff;
	}
}

body{
	font-family: Arial, san-serif;
}

header{
	width: 100%;
	height: 61px;	
}

nav{
	width: 100%;
	height: 61px;
	background: #344051;
	position: fixed;
	z-index: 100;
}

.logo{
	color: #fff;
	font-size: 18px;
	line-height: 61px;
	animation: comein 0.5s forwards ease;
	-o-animation: comein 0.5s forwards ease;
	-webkit-animation: comein 0.5s forwards ease;
}

.logo p{
	margin: 0px;
}


.menu{
	float: left;
	text-transform: uppercase;
}

.menu li{
	color: #fff;
	float: left;
	font-size: 13px;
	padding-right: 40px;
	line-height: 61px;	
	animation: topshift 0.5s forwards ease;
	-o-animation: topshift 0.5s forwards ease;
	-webkit-animation: topshift 0.5s forwards ease;
	opacity: 0;
}

.menu li a{
	text-decoration: none;
	color: #fff;
}

.menu li a:visited{
	text-decoration: none;
	color: #fff;
}

.white-btn{
	color: white;
}


.white-btn:visited{
	color: white;
}

main{
	width: 100%;
	height: 1015px;
	background: url(../images/sw.png) 100% 978px/auto auto no-repeat, url(../images/boy.png) 80% 100%/auto auto no-repeat, url(../images/main.jpg) top/auto auto no-repeat;
}

.title_container{
	width: 100%;
	margin-top: 140px;
	float: left;
	text-align: center;
	animation: leftshift 0.5s forwards 4s ease;
	-o-animation: leftshift 0.5s forwards 4s ease;
	-webkit-animation: leftshift 0.5s forwards 4s ease;	
	opacity: 0;
}	

@media (max-width: 991px){

.title_container{
	animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}

}

.title_container h1{
	font-size: 60px;
	font-weight: bold;
	color: #2c384a;
	margin-bottom: 0px;
}

.title_container p{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
	margin-bottom: 0px;
}

.title_container input{
	font-size: 16px;
	text-align: center;
	height: 42px;
	border: 2px solid #6d7682;
	border-radius: 5px;
	color: #6d7682;
	background: none;
	padding: 0px 16px;
	margin: 55px 13px 0px 13px;

}

@media (max-width: 991px){
.title_container h1, .title_container p, .title_container input{
	color: #fff;
}

 .title_container input{
	border: 2px solid #fff;
}

.title_container{
	position: relative;
	z-index: 1
}

main{
	position: relative;
}
main::after{
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
}
}

.about_me{
	width: 100%;
	height: 716px;
	background: url(../images/boy_icon.png) 50% 224px/auto auto no-repeat, url(../images/line_orange.png) 50% 161px/auto auto no-repeat, #fcfdfd;
}

.about_me_title{
	text-align: center;
	float: left;
}

.about_me_title h2{
	font-size: 26px;
	font-weight: bold;
	margin: 108px 0px 299px 0px;
	color: #263244;
}

.about_me_title p{
	margin: 0; 
	font-size: 14px;
	padding: 19px 0px 19px 0px;
	color: #3f495a;
	text-align: left;
	line-height: 15px;
}

.about_me_title input{
	line-height: 30px;
	font-size: 14px;
	border: 2px solid #6f707e;
	border-radius: 6px;
	margin: 16px 0px 0px 0px;
	color: #6f707e;
	background: url(../images/download_icon.png) 8px center/auto auto no-repeat, none;
	padding: 0px 9px 0px 30px;
}

@media (max-width: 577px){
.about_me{
	height: 820px;
}
}

.possibilities{
	height: 523px;
	width: 100%;
	background: url(../images/line_orange.png) 50% 160px/auto auto no-repeat, url(../images/possible_backg.jpg) top/auto 100% no-repeat;
}

.possibilities_title h2{
	font-size: 26px;
	color: #263244;
	margin: 107px 0px 0px 6px;
	font-weight: bold;
	text-align: center;
}

.possibilities_title ul{
	margin: 133px 0px 0px 0px;
	float: left;
}

.possibilities_title li{
	text-align: center;
	float: left;
}

.possibilities_title h5{
	margin: 35px 0px 0px 0px;
	color: #cf7600;
	font-weight: bold;
}

.possibilities_title p{
	line-height: 13px;
	font-size: 11px;
	color: #3f495a;
	margin: 0;
}

.possibilities_title img{
	height: 52px;
}

@media (max-width: 767px){
.possibilities{
	height: 700px;
}
}

.possibilities_title .second_line{
	margin: 50px 0px 0px 0px;
}

@media (max-width: 575px){
.possibilities{
	height: 1200px;
}
}

.cases{
	height: 2130px;
	width: 100%;
	background: url(../images/line_orange.png) 50% 162px/auto auto no-repeat, #fff;
}

.cases_title h2{
	margin: 107px 0px 0px 0px;
	font-size: 26px;
	font-weight: bold;
	color: #384354;
	text-align: center;
}

.cases_title p{
	text-align: center;
	margin: 71px 0px 0px 0px;
	font-size: 12px;
	color: #3f495a;
}

.cases_title #carouselExampleIndicators{
	margin: 40px 0px 40px 0px;
}

.case_info{
	margin: 0px 102px 0px 0px;
	float: left;
	text-align: left;
}

.case_info ul{
	margin: 0px;
	padding-left: 0px;
}

.case_info li{
	margin-bottom: 15px;
}

.case_info h3{
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
	color: #384354;
}

.case_info p{
	font-size: 12px;
	color: #3f495a;
}

.case_info input{
	font-size: 16px;
	line-height: 42px;
	border: 1px solid #63b5ae;
	background: #63b5ae;
	color: #fff;
	border-radius: 5px;
	padding: 0px 41px 0px 41px;
	font-weight: bold;
}

.case_description{
	text-align: left;
}

.case_description h4{
	font-weight: bold;
	font-size: 21px;
	color: #384354;
}

.case_description p{
	font-size: 16px;
	color: #3f495a;
	line-height: 25px;
}


.cost_calculation{
	margin-top: 163px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	text-align: center;
}

.cost_calculation h2{
	font-size: 36px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding-top: 38px;
}

.cost_calculation ul{
	margin: 0px 0px 36px 0px; 
	padding-left: 0;
}

.cost_calculation li{
	padding-top: 49px; 
}

.cost_calculation h3{
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	padding: 0px 0px 22px 10%;
	margin: 0;
}

.cost_calculation select{
	padding-left: 23px;
	font-size: 14px;
	height: 57px;
	width: 82.5%;
	color: #737373;
	font-weight: bold;
	background: #eeeeee;
	border-radius: 0;
	display: inline-block;
}

.cost_calculation table{
	margin: auto; 
	border-top: 2px solid #d1d1d1;
	width: 82.5%;
	font-weight: bold;
	font-size: 16px;
}

.cost_calculation td{
	padding: 23px 0px 0px 0.5%; 
}

.cost_calculation td:first-child{
	text-align: left;
}

.cost_calculation td:last-child{
	text-align: right;
}

.cost_calculation>input{
	line-height: 48px;
	padding: 0px 35px;
	margin: 37px 0px 37px 0px;
	border: 1px solid #63b5ae;
	background: #63b5ae;
	color: #fff;
	border-radius: 5px;
	font-size: 13px;
	font-weight: bold;
}



@media (max-width: 1199px){

.cases{
	height: 2000px;

}
}

@media (max-width: 991px){
	
.cases{
	height: 1850px;

}
}

@media (max-width: 767px){
	
.cases{
	height: 1950px;

}
}

@media (max-width: 1199px){
	
.cases{
	height: 2000px;

}
}



.statistics{
	height: 499px;
	width: 100%;
	background: url(../images/statistics_backg.jpg) center center/auto 100% fixed no-repeat;
}

.statistics_title h2{
	margin: 103px 0px 0px 0px;
	font-size: 26px;
	font-weight: bold;
	color: #323e4f;
	text-align: center;
}

.statistics_title .line{
	text-align: center;	
}

.statistics_title p img{
	margin: 32px 0px 18px 0px;
	width: auto;
	height: auto;
	text-align: center;	
}

.statistics_title ul{
	margin: 70px 0px 0px 0px;
}

.statistics_title li{
	margin: 0px;
	text-align: center;
	float: left;
}

.statistics_title img{
	height: 54px;
}

.statistics_title ul h3{
	font-size: 26px;
	font-weight: bold;
	color: #323e4f;
	margin: 27px 0px 0px 0px;
}

.statistics_title ul p{
	font-size: 14px;
	color: #323e4f;
	margin: 27px 0px 0px 0px;
}

@media (max-width: 575px){
	
.statistics{
	height: 725px;

}
}

.reviews{
	width: 100%;
	height: 590px;
	background: url(../images/line_orange.png) center 165px/auto auto no-repeat;
}

.reviews_title h2{
	margin: 104px 0px 0px 0px;
	font-size: 26px;
	font-weight: bold;
	color: #243042;
	text-align: center;
}

.reviews_main{
	margin: 91px 0px 0px 0px;
	text-align: center;
}

.reviews_main .icon{
	margin: 0px 0px 30px 0px;
}

.reviews_main p{
	margin-bottom: 37px;
	padding: 0px 100px; 
	font-size: 12px;
	color: #243042;
}

.circles{
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circles div{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: grey;
	margin: 0px 5px;
	transition: background-color 0.25s;
}

.circles .orange{
	background-color: orange;
}








.contacts{
	height: 808px;
	width: 100%;
	background: url(../images/line_orange.png) center 159px/auto auto no-repeat, url(../images/contacts_backg.jpg) center top/ auto 100% no-repeat;
}

.contacts_title h2{
	color: #ffffff;
	font-size: 26px;
	margin: 105px 0px 0px 0px;
	text-align: center;
}

.contacts_title p{
	color: #ffffff;
	font-size: 12px;
	margin: 69px 0px 0px 0px;
	text-align: center;
}

.contacts_title ul{
	color: #ffffff;
	font-size: 13px;
	margin: 46px 0px 0px 0px;
	padding: 0;
	text-align: center;
}

.contacts_title li{
	vertical-align: top;
	margin: 0px 96px 0px 0px;
	display: inline-block;
	width: 150px;
}

.contacts_title li:last-child{
	margin: 0px 0px 0px 0px;
}

.contacts_title li img{
	height: 29px;
}

.contacts_title li p{
	margin: 11px 0px 0px 0px;
	padding: 0px;
	text-align: center;
}

.contacts_form h3{
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	padding: 0;
	margin: 38px 0px 0px 0px;
	text-align: center;
}

.contacts_form form{
	margin: 46px 0px 0px 0px;
	float: left;
	width: 740px;
	text-align: center;
}

.contacts_form .line{
	background: #d5d9df;
	line-height: 24px;
	width: 352px;
	padding-left: 13px;
	color: #5d5d5e;
}

.contacts_form .name{
	margin-right: 24px;
}

.contacts_form textarea{
	background: #d5d9df;
	color: #5d5d5e;
	height: 94px;
	width: 732px;
	margin-top: 14px;
	padding: 9px 0px 0px 14px;
}

.contacts_form .but{
	margin-top: 28px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	line-height: 42px;
	padding: 0px 17px 0px 17px;
	background: none;
}

@media (max-width: 767px){

.contacts_title li{
	width: 100%;
	margin: 0;
	display: block;
	margin: 0px 0px 25px 0px;

}

.contacts{
	height: 1200px;
}

.contacts_form form{
	width: 100%;
}

.contacts_form .name{
	margin: 0px;
}

.contacts_form .line{
	width: 100%;
	margin-bottom: 14px;
}

.contacts_form textarea{
	width: 100%;
	margin: 0;
	padding: 9px 0px 0px 14px;
}
}

@media (max-width: 767px){

.contacts_form form{
	width: 85%;
}

.contacts_form .name{
	margin: 0px;
}

.contacts_form .line{
	width: 100%;
	margin-bottom: 14px;
	line-height: 48px;
}

.contacts_form textarea{
	width: 100%;
	margin: 0;
	padding: 9px 0px 0px 14px;
	height: 125px;
}
}

.contacts_map{
	height: 356px;
	width: 100%;
	background: url(../images/map.jpg) center center / auto auto no-repeat;
}

footer{
	height: 96px;
	background-color: #2c3e51;

}

.copyright{
	display: flex;
	color: white;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.menu li a{
	color: #fff;
	transition: all 0.1s ease;
	display: inline-block;
	transform: scale(1);
}

.menu li a:hover{
	color: orange;
}

.menu li a:active{
	transform: scale(1.1);
}

.title_container input{
	background: none;
	color: #6d7682;
	transition: all 0.1s ease;
	transform: scale(1);
}

@media (max-width: 991px){
.title_container input{
	color: #fff;
}}

.title_container input:hover{
	background: #344051;
	color: #fff;
}

.title_container input:active{
	background: none;
	color: #6d7682;
	transform: scale(1.1);
}

.about_me_title input{
	background: url(../images/download_icon.png) 8px center/auto auto no-repeat, none;
	color: #6f707e;
	transition: all 0.1s ease;
	transform: scale(1);
}

.about_me_title input:hover{
	background: url(../images/download_icon.png) 8px center/auto auto no-repeat, #344051;
	color: #fff;
}
.about_me_title input:active{
	background: url(../images/download_icon.png) 8px center/auto auto no-repeat, none;
	color: #6f707e;
	transform: scale(1.1);
}

.case_info input{
	border: 1px solid #63b5ae;
	color: #fff;
	transition: all 0.3s;
	transform: scale(1);
}

.case_info input:hover{
	border: 1px solid orange;
	color: orange;
}

.case_info input:active{
	transform: scale(1.1);
}

.cost_calculation>input{
	border: 1px solid #63b5ae;
	color: #fff;
	transition: all 0.3s;
	transform: scale(1);
}

.cost_calculation>input:hover{
	border: 1px solid orange;
	color: orange;
}

.cost_calculation>input:active{
	transform: scale(1.1);
}


.but{
	border: 2px solid #fff;
	color: #fff;
	transition: all 0.3s;
	transform: scale(1);
	border-radius: 5px;
}

.but:hover{
	border: 2px solid orange;
	color: orange;
	border-radius: 22px;
}

.but:active{
	transform: scale(1.1);
}

.menu li:nth-child(1){
	animation-delay: 1s;
	-o-animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.menu li:nth-child(2){
	animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}
.menu li:nth-child(3){
	animation-delay: 2s;
	-o-animation-delay: 2s;
	-webkit-animation-delay: 2s;
}
.menu li:nth-child(4){
	animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.menu li:nth-child(5){
	animation-delay: 3s;
	-o-animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
.menu li:nth-child(6){
	animation-delay: 3.5s;
	-o-animation-delay: 3.5;
	-webkit-animation-delay: 3.5s;
}

@keyframes comein{

	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}

}

@keyframes topshift{

	from{
		opacity: 0;
		margin-top: -80px;
	}

	to{
		opacity: 1;
		margin-top: 0px;
	}

}

@keyframes leftshift{

	from{
		opacity: 0;
		margin-left: -500px;
	}

	to{
		opacity: 1;
		margin-left: 0px;
	}

}

.animate__animated.animate__pulse{
	--animate-duration: 1.3s;
}

.menu li .active_a{
	color: orange;
}

.menu li .active_a:visited{
	color: orange;
}

